body {
  margin: 0;
  background-image: url("../resources/images/wooden-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: sans-serif;
}

a {
  color: black;
  text-decoration: none;
}
