header {
  text-align: center;
  padding: 20px;
}

.buscador {
  display: flex;
  background-color: var(--lighter-purple);
  width: 100%;
  max-width: 60%;
  justify-self: center;
  font-size: large;
  padding: 10px;
  border: 2px solid var(--purple);
  border-radius: 15px;
  outline: none;
}

a {
  justify-self: center;
  width: 90%;
}

.lista-recetas {
  display: grid;
  gap: 40px;
  margin: 40px 0;
}

.receta {
  display: grid;
  grid-template-areas: 
  'img-receta titulo-receta'
  'img-receta desc-receta';
  grid-template-columns: minmax(100px, 150px) 1fr;
  grid-template-rows: 50px 95px;
  background-color: var(--transparent-white-purple);
  padding: 10px;
  border: 2px solid var(--purple);
  border-radius: 10px;
}

.receta img {
  grid-area: img-receta;
  width: 90%;
  height: 90%;
  justify-self: center;
  align-self: center;
  object-fit: cover;
  border-radius: 10px;
}

.receta h2 {
  grid-area: titulo-receta;
  align-self: center;
  margin: 0;
  height: min-content;
}

.receta p {
  margin: 0;
  max-height: 6em;
  overflow: hidden;
  color: var(--dark-purple);
}