* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 80%;
  padding: 1% 0;
  min-height: 100vh;
}

header {
  background-color: var(--transparent-white-purple);
  flex: 0 0 auto;
  border: 2px solid var(--transparent-purple);
  border-bottom: 2px dashed var(--transparent-purple);
  border-radius: 10px 10px 0 0;
  text-align: center;
  padding: 20px;
}
main {
  background-color: var(--transparent-white-purple);
  display: flex;
  flex: 1;
  border: 2px solid var(--transparent-purple);
  border-top: 2px dashed var(--transparent-purple);
  border-radius: 0 0 10px 10px;
}

form {
  display: grid;
  flex: 1;
  grid-template-areas:
    "img info"
    "ingr pasos"
    "btts-form btts-form";
  gap: 20px;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto auto;
  padding: 10px;
}

/*IMAGEN RECETA*/
.img-receta {
  grid-area: img;
  display: flex;
  flex-direction: column;
}

.img-upload {
  border: 2px dashed var(--purple);
  height: auto;
  position: relative;
  aspect-ratio: 12 / 9;
  min-height: 120px;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--transparent-light-purple);
  transition: 0.2s;
  flex: 1;
}

.img-upload:hover {
  border: 2px dashed var(--dark-purple);
}

.img-upload img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.placeholder {
  color: var(--dark-purple);
  font-family: sans-serif;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

/*INFO DE LA RECETA*/
.info-receta {
  grid-area: info;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.info-receta input {
  width: 100%;
  border: 2px solid var(--purple);
  padding: 5px;
  font-size: larger;
  border-radius: 10px;
}

.info-receta textarea {
  width: 100%;
  border: 2px solid var(--purple);
  resize: none;
  padding: 5px;
  border-radius: 10px;
  height: 100%;
  min-height: 150px;
  line-height: 1.5;
}

/*INGREDIENTES*/
.ingredientes {
  grid-area: ingr;
  padding: 20px;
  margin: 10px;
  height: fit-content;
  border: 2px dotted var(--purple);
  padding: 20px;
  border-radius: 20px;
  background-color: var(--lighter-purple);
}

.ingredientes h3 {
  margin-bottom: 15px;
}

.ingredientes ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 20px;
}

.ingredientes li {
  list-style: disc;
  display: flex;
  align-items: center;
  gap: 8px;
}

.ingredientes li input {
  border: 1px solid var(--purple);
  border-radius: 5px;
}

li::before {
  content: "•";
  font-size: larger;
  flex-shrink: 0;
}

.ingredientes li button {
  border-radius: 100px;
  border: 0;
  background-color: var(--dark-purple);
  color: white;
  flex-direction: row;
  height: 19.88px;
  font-size: xx-small;
}

.ingredientes li button:hover {
  background-color: var(--darker-purple);
  color: white;
}

.anade-ingr {
  display: flex;
  justify-self: center;
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--light-purple);
  border: 2px solid var(--purple);
  transition: 0.2s;
}

.anade-ingr:hover {
  background-color: var(--purple);
  color: white;
  border: 2px solid var(--dark-purple);
}

.anade-ingr:active {
  background-color: var(--dark-purple);
  border: 2px solid var(--darker-purple);
  color: lightgray;
  transition: 0s;
}

/*PASOS DE LA RECETA*/
.pasos {
  grid-area: pasos;
  background-color: var(--lighter-purple);
  margin: 10px;
  border: 2px var(--purple) solid;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: self-start;
  height: fit-content;
}

.paso {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  gap: 10px;
  grid-template-areas:
    "texto boton"
    "imagen .";
}

.paso textarea {
  grid-area: texto;
  border: 1px solid var(--purple);
  width: 100%;
  height: 32px;
  resize: none;
  padding: 5px;
  border-radius: 10px;
  line-height: 1.5;
  box-sizing: border-box;
}

.paso button {
  grid-area: boton;
  border-radius: 100px;
  border: 0;
  background-color: var(--dark-purple);
  color: white;
  width: 25px;
  height: 80%;
  align-self: center;
}

.paso button:hover {
  background-color: var(--darker-purple);
  color: white;
}

.img-paso {
  grid-area: imagen;
  width: 23%;
  text-align: center;
  font-size: smaller;
}

input[type="file"] {
  display: none;
}

.anade-paso {
  display: flex;
  align-self: center;
  width: 62px;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--light-purple);
  border: 2px solid var(--purple);
  transition: 0.2s;
}

.anade-paso:hover {
  background-color: var(--purple);
  color: white;
  border: 2px solid var(--dark-purple);
}

.anade-paso:active {
  background-color: var(--dark-purple);
  border: 2px solid var(--darker-purple);
  color: lightgray;
  transition: 0s;
}

/*BOTONES DEL FORMULARIO*/
.btts-form {
  grid-area: btts-form;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  justify-self: center;
  align-self: center;
  gap: 30px;
}

.btts-form input {
  height: min-content;
  padding: 15px 0;
  font-size: medium;
  font-weight: bold;
  border-radius: 30px;
  background-color: var(--light-purple);
  border: 2px solid var(--purple);
  transition: 0.2s;
  width: 7rem;
}

.btts-form input:hover {
  background-color: var(--purple);
  color: white;
  border: 2px solid var(--dark-purple);
}

.btts-form input:active {
  background-color: var(--dark-purple);
  border: 2px solid var(--darker-purple);
  color: lightgray;
  transition: 0s;
}